<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Polls</title>
  <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/polls.css" rel="stylesheet"/>
</head>
<body>
  <div class="container">
    <h1>Manage Polls</h1>
    <main id="app">
      <router-view></router-view>
    </main>
  </div>

  <template id="poll">
    <div>
      <h2>{{ poll.name }}</h2>
      <b>Description: </b>
      <div>{{ poll.description }}</div>
      <b>Price:</b>
      <div>{{ poll.price }}<span class="glyphicon glyphicon-euro"></span></div>
      <br/>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      <a>
        <router-link to="/">Back to poll list</router-link>
      </a>
    </div>
  </template>

  <template id="poll-list">
    <div>
      <div class="actions">
        <a class="btn btn-default">
          <router-link :to="{path: '/add-poll'}">
            <span class="glyphicon glyphicon-plus"></span>
            Add poll
          </router-link>
        </a>
      </div>
      <div class="filters row">
        <div class="form-group col-sm-3">
          <input placeholder="Search" v-model="searchKey" class="form-control" id="search-element" requred/>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Summary</th>
          <th class="col-sm-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="poll in filteredPolls">
          <!-- tr v-for="poll in polls" -->
          <!-- tr v-for="poll in polls | filterBy searchKey in 'name'" -->
          <td>
            <a>
              <router-link :to="{name: 'poll', params: {poll_id: poll.id}}">{{ poll.title }}</router-link>
            </a>
          </td>
          <td>{{ poll.summary }}</td>
          <td>
            <a class="btn btn-warning btn-xs">
              <router-link :to="{name: 'poll-edit', params: {poll_id: poll.id}}">Edit</router-link>
            </a>
            <a class="btn btn-danger btn-xs">
              <router-link :to="{name: 'poll-delete', params: {poll_id: poll.id}}">Delete</router-link>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </template>


  <template id="add-poll">
    <div>
      <h2>Add new poll</h2>
      <form @submit="createPoll">
        <div class="form-group">
          <label for="add-title">Title</label>
          <input class="form-control" id="add-title" v-model="poll.title" required/>
        </div>
        <div class="form-group">
          <label for="add-summary">Summary</label>
          <textarea class="form-control" id="add-summary" rows="10" v-model="poll.summary"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a class="btn btn-default">
          <router-link to="/">Cancel</router-link>
        </a>
      </form>
    </div>
  </template>

  <template id="poll-edit">
    <div>
      <h2>Edit poll</h2>
      <form @submit="updatePoll">
        <div class="form-group">
          <label for="edit-title">Title</label>
          <input class="form-control" id="edit-title" v-model="poll.title" required/>
        </div>
        <div class="form-group">
          <label for="edit-summary">Summary</label>
          <textarea class="form-control" id="edit-summary" rows="3" v-model="poll.summary"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-default">
          <router-link to="/">Cancel</router-link>
        </a>
      </form>
    </div>
  </template>

  <template id="poll-delete">
    <div>
      <h2>Delete poll {{ poll.name }}</h2>
      <form @submit="deletePoll">
        <p>The action cannot be undone.</p>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-default">
          <router-link to="/">Cancel</router-link>
        </a>
      </form>
    </div>
  </template>

  <script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <script src="/polls.js"></script>

</body>
</html>